@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!DOCTYPE html>
<html>
<body>

    <h1>You Find Me:</h1>

    <div id="map" style="width:100%;height:400px;"></div>
  
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(46.7667, 23.6), zoom: 10
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlmXNN3egLWyk2T3wPvA98kL-RwN79Tmw&callback=myMap"></script>
   
</body>
</html>



<address>
    To Do List Box<br />
    Cluj-Napoca, Republicii 101-103 Street<br />
    <abbr title="Phone">P:</abbr>
    0720.000.111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@todolistbox.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Roxana's@todolistbox.com</a>
</address>