@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wellcome to ToDoListBox</h1>
    <p class="lead">ToDoListBox is a Web application that was build by Roxana Miron using HTML, CSS and JavaScript.</p>
</div>